<input type="text" [(ngModel)]="title" />

<h1>{{ title }}</h1>

<input type="text" [(ngModel)]="title" />

<br />
<br />
<br />

<select [(ngModel)]="title">
  <option value="demo-project">demo project</option>
  <option value="other-project">other-project</option>
</select>

<h1 [innerHTML]="title.length"></h1>

<p style="background-color: red">asdadasdasdas</p>

<p [style]="'background-color: red'">asdadasdasdas</p>

<h1 [innerHTML]="1 + 1"></h1>

<h1 [innerHTML]="'1 + 1'"></h1>

<input
  type="text"
  (keydown)="theColorHasChangedFunction()"
  [(ngModel)]="color"
/>

{{ color }}

<p [style]="thecssiwant">asdadasdasdas</p>

<p style="background-color: {{ color }}">asdadasdasdas</p>

<p [style]="'background-color:' + color">asdadasdasdas</p>
