.header {
  background: silver;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.CopyRight {
  padding: 20px;
  margin-top: 50px;
  background: silver;
  text-align: center;
}
